receivers:
  opencensus:

exporters:
  jaeger:
    endpoint: jaeger-all-in-one:14250
    insecure: true
processors:
  batch:

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [opencensus]
      processors: [batch]
      exporters: [jaeger]